/* Add any specific styles for the StartPage here */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background: #acc0ae;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    width: 50px;
    height: 50px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar .btn {
    background: #ff0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
  }
  
  .home {
    padding: 50px;
    text-align: center;
  }
  
  .home .content h1 {
    font-size: 48px;
  }
  
  .home .content p {
    font-size: 18px;
  }
  
  .home .home-btn {
    background: #ff0;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
  }
  
  .services, .about, .app, .footer {
    padding: 50px;
    text-align: center;
  }
  
  .footer {
    background: #333;
    color: #fff;
  }
  